@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <h2 class="text-danger text-center">"Transforma tu cuerpo, transforma tu vida en nuestro gimnasio"</h2>
        <h2 class="text-danger text-center">"Haz ejercicio, siente la diferencia"</h2>
        <h2 class="text-danger text-center">"Descubre tu fuerza interior en nuestro gimnasio"</h2>
        <h1 class="h1 text-capitalize text-success text-center">Sobre nosotros</h1>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <p class="lead">
                Nuestro gimnasio se destaca sobre los demas por nuestras instalaciones de ultima
                generación. Asi le damos los mejores implementos para que lo puedan usarlos tanto como expertos y novatos,
                tenemos descuentos a deportistas del cómite olimpico chileno, para poder hacer crecer a nuestros talentos nacionales.
            </p>
            <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2017/03/08/14889777975308.jpg" class="img-thumbnail rounded mx-auto d-block" alt="...">
        </div>
    </div>
</div>
