@{
    ViewBag.Title = "Contactanos";
}


<div class="container">
    <div class="row">
        <h1 class="h1 text-capitalize text-center text-success">Contactate con nosotros y dejanos tus dudas</h1>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Escriba sus consultas acá</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</div>