@{
    ViewBag.Title = "Página principal";
}

<div class="container">
    <h1 class="h1 text-center"><span>🔥</span>Bienvenido Gym Fit<span>🏋️</span></h1>
</div>
<hr />

<div class="container-fluid">
    <div class="row">
        <h1 class="h1 text-center text-capitalize fw-bold">Lo que ofrecemos <span class="text-info text-capitalize fw-bold"> para ti </span></h1>
        <hr />
    </div>
    <div class="container">
        <div class="row">
            <div class="card col-lg-6 " style="width: 20rem;">
                <img src="~/Img/pexels-rodnae-productions-8401904.jpg" class="card-img-top" alt="..." width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">Personal trainer</h5>

                    <a href="#" class="btn btn-primary text-capitalize">Conocer más </a>
                </div>
            </div>
            <div class="card col-lg-6" style="width: 20rem;">
                <img src="~/Img/young-african-woman-running-isolated-white-studio-background-one-female-runner-jogger-silhouette-jogging-athlete.jpg" width="200" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">Clases dirigidas</h5>
                    <a href="#" class="btn btn-danger text-capitalize">Conocer más</a>
                </div>
            </div>
            <div class="card col-lg-6" style="width: 20rem;">
                <img src="~/Img/muscular-build-man-making-effort-while-weightlifting-during-cross-training-gym.jpg" width="200" height="200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">Equipamiento tecnólogico</h5>
                    <a href="#" class="btn btn-success text-capitalize">Conocer más</a>
                </div>
            </div>
            <div class="card col-lg-6" style="width: 20rem;">
                <img src="~/Img/pexels-johnny-garcia-2011383.jpg" class="card-img-top" alt="..." width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">Sport Life <span class="text-success">ON</span></h5>
                    <a href="#" class="btn btn-warning text-capitalize">Conocer más</a>
                </div>
            </div>
            <div class="card col-lg-6" style="width: 20rem;">
                <img src="~/Img/pexels-viridiana-o-rivera-14598866.jpg" class="card-img-top" alt="..." width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">Nuestras sedes <span class="text-success">ON</span></h5>
                    <a href="#" class="btn btn-info text-capitalize">Conocer más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="text-capitalize text-center">¿Quienes somos?</h1>
        <p class="h4 text-justify">Sómos una empresa multinacional que nuestro principal objetivo es darles a la gente un lugar doonde puedan a venir hacer ejercicio, distraerse del estres de la vida cotidiana
        .Por eso nuestras instalaciones tienen todo lo necesario como: piscinas temperadas, piscinas olimpicas, salas de yoga, cancha de voleyball y basketball, canchas de tenis,
        entre otros</p>
        <h1 class="h1 text-capitalize text-center text-primary">Ven te esperamos!</h1>
    </div>
</div>