@{
    ViewBag.Title = "Página principal";
}

<div class="container">
    <h1 class="h1 text-center">Bienvenido Gym Fit</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <h3>¿Sábes que es un gimnasio?</h3>
        <p class="lead">
            Un gimnasio es un lugar donde las personas pueden ir a hacer ejercicio y mantenerse en forma. A menudo cuenta con una amplia variedad de equipos de entrenamiento, como máquinas de cardio, pesas y aparatos de entrenamiento
            de resistencia. También puede tener áreas dedicadas a clases grupales, como yoga, pilates o entrenamiento en grupo. Los gimnasios a menudo tienen una atmósfera de comunidad y pueden ser un lugar agradable para conocer gente y
            hacer nuevos amigos mientras se mantiene en forma. Algunos gimnasios también cuentan con saunas, piscinas o servicios de masajes para ayudar a sus clientes a relajarse y recuperarse después del entrenamiento.
        </p>

        <img src="https://www.lifefitness-latinamerica.com/resource/blob/772870/5378fcb18fabbae1a4f0d57cdeb8995f/ebc-hammer-strength-hd-elite-half-rack-connected-side-view-data.jpg" class="img-thumbnail" alt="...">
        <h3>¿Sábes que es el fitness</h3>
        <p class="lead">
            El fitness es un término amplio que se refiere al bienestar físico y mental a través del ejercicio y la actividad física regular. El objetivo del fitness es mejorar la salud y el rendimiento físico a través del
            entrenamiento y la actividad física. Existen muchas formas de hacer ejercicio y mantenerse activo, como correr, caminar, nadar, hacer yoga o levantar pesas. La cantidad y el tipo de actividad física necesarios para alcanzar
            y mantener el fitness variarán dependiendo de la edad, el nivel de condición física y otros factores individuales. Es importante encontrar una rutina de ejercicio que sea adecuada
            y disfrutable para cada persona, ya que esto puede ayudar a motivar y mantener el compromiso con el fitness a largo plazo.
        </p>
        <img src="https://images.healthshots.com/healthshots/en/uploads/2022/03/20121414/fitness-woman-1600x900.jpg" class="rounded float-start img-thumbnail" alt="...">
        
    </div>
    
</div>